In [19]:
import pandas as pd
import numpy as np

In [20]:
#reading in csv
csv_portNames= '/Users/Shaoyu/Desktop/historical datasets/OneDrive_1_2023-7-27/44319572_18-19.csv'
#setting first column as index
df=pd.read_csv(csv_portNames, sep=',',header=0,index_col=[0], skipinitialspace=True,encoding='utf-8')
print(df.head(5))

             1863. Unnamed: 2 1864. Unnamed: 4 1865. Unnamed: 6 1866.  \
NaN            No.   Tonnage.   No.   Tonnage.   No.   Tonnage.   No.
NEWCHWANG :—   NaN        NaN   NaN        NaN   NaN        NaN   NaN
Entered,       NaN        NaN   252     74,092   274     91,118   236
Cleared,       NaN        NaN   252     74,092   274     91,118   235
Total,         NaN        NaN   504    148,184   548    182,236   471

             Unnamed: 8 1867. Unnamed: 10 1868. Unnamed: 12 1869. Unnamed: 14  \
NaN            Tonnage.   No.    Tonnage.   No.    Tonnage.   No.    Tonnage.
NEWCHWANG :—        NaN   NaN         NaN   NaN         NaN   NaN         NaN
Entered,         79,666   327     110,418   211      70,634   359     113,774
Cleared,         79,274   327     110,418   211      70,634   359     113,774
Total,          158,940   654     220,836   422     141,268   718     227,548

             1870. Unnamed: 16 1871. Unnamed: 18 1872. Unnamed: 20
NaN            No.    Tonnage.   No.    Tonnage.   No.    Tonnage.
NEWCHWANG :—   NaN         NaN   NaN         NaN   NaN         NaN
Entered,       271      92,815   219      65,933   258      89,069
Cleared,       270      92,369   219      65,933   258      89,069
Total,         541     185,184   438     131,866   516     178,138

In [5]:
#dropping the rows for "Entered" and "Cleared"
df = df[(df.index != 'Entered,')&(df.index != 'Cleared,')]

In [6]:
#replace NaN values with 0
df = df.fillna(0)

In [7]:
#these are all the columns with the tonnage values. They don't have names in our original CSV file hence "unnamed"
unnamed_cols = [col for col in df.columns if 'Unnamed:' in col]

In [8]:
#this part of the code gives the tonnage columns names. the names are the year, taken from the previous column (which has the year for the No. values) 
for col in unnamed_cols:
    og_ind = df.columns.get_loc(col)
    new_col = df.columns[og_ind-1]
    df.drop(columns=[new_col],inplace=True)
    df.rename(columns={col: new_col},inplace=True)

In [9]:
#drops any index with null values 
df = df[df.index.notna()]

In [10]:
#removes comma from the numerical values 
df = df.replace(',','', regex=True)

In [11]:
#convert to numerical type
df = df.astype(int)

In [12]:
df_shifted = df.shift(-1)

In [13]:
df_shifted = df_shifted[(df_shifted.index != 'Total,')]

In [17]:
df_shifted
df_shifted.to_csv('44319596_shifted.csv')